<div class="course__wrapper">
  <form class="course__form" [formGroup]="courseForm" (ngSubmit)="onSaveHandler()">
    <!-- Form Input block start -->
    <div class="course__label-block course__title">
      <label class="course__title">Title: </label>
      <span class="course__required">*required</span>
    </div>
    <input
      formControlName="title"
      type="text" name="title"
      class="course__input course__input--title"
      [ngClass]="{'course__error': courseForm.get('title').errors }"
    >
    <div class="course__error-text" *ngIf="courseForm.get('title').hasError('maxlength')">
      Course title should be no longer than 30 symbols
    </div>
    <!-- Form Input block end -->

    <!-- Form Input block start -->
    <div class="course__label-block course__description">
      <label class="course__description">Description: </label>
      <span class="course__required">*required</span>
    </div>
    <textarea
      formControlName="description"
      type="text" name="description"
      rows="7"
      class="course__input course__input--description"
      [ngClass]="{'course__error': courseForm.get('description').errors }"
    >

    </textarea>
    <div class="course__error-text" *ngIf="courseForm.get('description').hasError('maxlength')">
      Course description should be no longer than 500 symbols
    </div>
    <!-- Form Input block end -->

    <!-- Form Input block start -->
    <div class="course__label-block course__duration">
      <label class="course__duration">Duration: </label>
      <span class="course__required">*required</span>
    </div>
    <input formControlName="duration" type="text" name="duration" class="course__input course__input--duration">
    <!-- Form Input block end -->

    <!-- Form Input block start -->
    <div class="course__label-block course__date">
      <label class="course__date">Date:</label>
      <span class="course__required">*required</span>
    </div>
    <input formControlName="date" type="date" name="date" class="course__input course__input--date">
    <!-- Form Input block end -->

    <!-- Form Input block start -->
    <div class="course__label-block course__authors">
      <label class="course__date">Authors:</label>
      <span class="course__required">*required</span>
    </div>
    <input type="authors" name="authors" class="course__input course__input--authors">
    <!--    <input formControlName="authors" type="authors" name="authors" class="course__input course__input&#45;&#45;authors">-->
    <!-- Form Input block end -->

    <div class="course__buttons">
      <button type="reset" class="button course__button course__button--cancel" (click)="onCancelHandler()">Cancel
      </button>
      <button [disabled]="courseForm.invalid" type="submit" class="button course__button"
              [ngClass]="{'course__button--save': courseForm.valid}"
      >Save
      </button>
    </div>
  </form>
</div>


<p>
  Form Value: {{ courseForm.value | json }}
</p>


<p>
  Form Status: {{ courseForm.status }}
</p>

<p>Error {{courseForm.get('duration').hasError('pattern')}}</p>

