<button (click)="onAddHandle()" class="button add-course">
  {{'buttons.addCourse' | translate}}
</button>

<ng-container *ngIf="courses ; else noCoursesData">
  <ul class="course-list" *ngFor="let course of (courses | orderByDate)">
    <li class="course-list__item">
      <app-course-details [course]="course" (delete)="onDeleteHandler($event)"></app-course-details>
    </li>
  </ul>
  <button class="button load-more" (click)="onLoadMoreHandler()"> {{"buttons.loadMore" | translate}}</button>
</ng-container>

<ng-template #noCoursesData>
  <p class="course-list__no-data"> {{"course.noData" | translate}}</p>
</ng-template>
