<button class="button add-course">
  Add course
</button>

<ng-container *ngIf="(mockCourses && mockCourses.length > 0); else noCoursesData">
  <ul class="course-list" *ngFor="let course of (mockCourses | orderByDate)">
    <li class="course-list__item">
      <app-course-details [course]="course" (delete)="onDeleteHandler($event)"></app-course-details>
    </li>
  </ul>
  <button class="button load-more" (click)="onLoadMoreHandler()"> Load More</button>
</ng-container>

<ng-template #noCoursesData>
  <p class="course-list__no-data"> No data. feel free to add new course</p>
</ng-template>
