$dark-blue: #414452;
$sick-green: #9BC837;
$pale-grey: #F2F3F7;
$white: #FFFFFF;
$dark: #2c2f3c;
$slate-grey: #525462;
$dark-sky-blue: #30b6dd;
$cloudy-blue: #b9bdce;
$soft-blue: #577ce6;
$silver: #c0c3ce;
$input-border: #d9dbe3;