@import '../styles/colors';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.center-inner {
  margin: 0px auto;
  max-width: 1110px;
}

.page-header,.page-footer {
  background-color: $dark-blue;
  flex: 0 0 100px;
}
.breadcrumbs {
  background-color: $white;
  flex: 0 0 auto;
}

.page-content {
  background-color: $pale-grey;
  flex: 1 0 auto;
}