  <section class="courses">
    <div class="search-wrapper">
      <app-search-bar (searchValue)=onSearchHandler($event)></app-search-bar>
    </div>
    <div class="course-list-wrapper">
      <ng-container
      *ngIf="!(isLoading$ | async); else loading"
      >
      <app-course-list [courses]="courses$ | async" (deleteCourseId)="onDeleteHandler($event)" (loadMore)="onLoadMoreHandler()"></app-course-list>
      </ng-container>
    </div>
  </section>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
