@import "../node_modules/normalize-scss/sass/normalize/import-now";
@import "./styles/colors";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  
}

.button {
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

