<div [ngClass]="{'course-details': true, 'course-details__top-rated': course.topRated }"
>
  <div class="course-details__header">
    <h2 class="course-details__title">{{course.title | uppercase}}</h2>
    <fa-icon
      *ngIf="course.topRated"
      class="course-details__top-rated-icon"
      [icon]="faStar">
    </fa-icon>
    <div class="course-details__timing">
      <span class="course-details__duration">{{course.duration}}</span>
      <span class="course-details__date">{{course.creationDate}}</span>
    </div>
  </div>
  
  <div class="course-details__content">
    <p class="course-details__description">{{course.description}}</p>
    <div class="course-details__buttons">
      <button class="button course-details__action course-details__edit">Edit</button>
      <button class="button course-details__action course-details__delete" (click)="onDeleteHandler(course.id)">Delete</button>
    </div>
  </div>
</div>
